# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LGBT_Love_Bot.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Code\C#\LGBT_Love_Bot\.idea\.idea.LGBT_Love_Bot.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
